@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    list-style: none;

}

body {}





/* ===================head section start here */



.head {
    padding-inline: 6.25rem;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    align-items: center;


}

.head a {

    color: #DCDCDC;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.head-right {
    display: flex;
    gap: 0.94rem;
    align-items: center;
}

.head-right hr {
    border-left: 1px solid #d4d0d0;
    height: 15px;
}

#social:hover {
    color: #87C332 !important;

}

nav {
    display: flex;
    padding-inline: 6.25rem;
    padding-block: 1.69rem;
    align-items: center;
    justify-content: space-between;




}

.menus ul {
    display: flex;
    align-items: center;
    gap: 2.25rem;
    list-style: none;
    margin: 0;


}

.menus ul li a {
    color: var(--light-gray, #7F7F7F);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menus ul li a:hover,
.menus ul li a.active:hover {
    color: #87C332;
    position: relative;

}

.menus ul li a:hover:after,
.menus ul li a.active:hover:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: #87C332;
    /* Red color */
    transition: all 0.3s ease-in-out;


}

.menus ul li a:hover strong,
.menus ul li a.active:hover strong {
    font-weight: bold;

}

.menus ul li a:hover:after,
.menus ul li a.active:hover:after {
    width: 100%;


}

.get-quote a {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10.3125rem;
    background: var(--green, #87C332);
    padding: 0.88rem 2.75rem;

}

.get-quote a:hover {
    color: #87C332;
    background-color: white;
    filter: drop-shadow(20px 20px 100px #87C332);
}






/* ===================================header section ends here */

/* ================================footer start here */


.footer-section{
    background: #0F1B24;
}

.footer-main{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;

    padding: 5rem 6.25rem 3.37rem;
}
.f-logo img{
    padding-bottom: 2rem;
}
.f-1  a{

    color: #CDCDCD;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 175% */

}
.f-1  a:hover{
    color: #87C332;
}
.f-logo p{
    color: #FFF;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.f-1 h2{
    color: #FFF;
font-family: Montserrat;
font-size: 1.375rem;
font-style: normal;
font-weight: 700;
line-height: 1.375rem; /* 100% */
padding-bottom: 0.5rem;

position: relative;
}
.f-1 h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 2.5rem;
    height: 0.125rem;
    background-color: #87C332;
  }

.f2{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 5rem;
    padding-inline: 9.25rem;
    gap: 0.94rem;
}
.footer-social img:hover{
    background-color: #87C332;
    border-radius: 50%;

}
.footer-last{
    padding: 1.37rem 6.25rem;
    background-color: #1E313F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-last h1{
    color: #CDCDCD;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}
.last-1{
    display: flex;
    

}
.last-1 hr{
    color: #CDCDCD;
}
.last-1 hr {
    width: 2px;
    height: 26px;
    margin: 0 20px;
    background-color: #CDCDCD;
    border: none;
  }






/* =======================================footer end here  */




/* ============================================index page start here */



.index-hero {
    background-image: linear-gradient(to left, #F3F9EB 21%, #BEDE90 145%);
    padding: 2.06rem 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.hero-left {
    padding-right: 13.06rem;

}
#circel{
    position: absolute;
    top: 0;
    left: 0;
}

.hero-left h3 {
    color: var(--gray-333333, #333);
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-left h1 {
    color: var(--gray-333333, #333);
    font-family: Montserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-left span ,.why-choose-us span{
    color: #87C332;
    padding-bottom: 1.6rem;
}

.hero-left p {
    color: var(--gray-333333, #333);
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 1.8rem;

}

.hero-right {
    position: relative;
}

#heroshape {
	position: absolute;
	bottom: -32px;
	right: -99px;
	overflow-x: hidden !important;
}


.why-choose-us{
    padding: 6.25rem;
    text-align: center;
}
.why-choose-us h3{
    color: #87C332;
text-align: center;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1.5rem; /* 150% */
letter-spacing: 0.0625rem;
text-transform: uppercase;
}
.why-choose-us #reason{
    color: var(--gray-333333, #333);
text-align: center;
font-family: Montserrat;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: 3.125rem; /* 125% */
padding-inline: 20rem;
}
.why-1 {
	background-image: url(img/thunder.svg);
	/* height: 200vh; */
	background-repeat: no-repeat;
	background-position-y: -4.4rem;
	padding-block: 2.94rem;
	background-size: 94% 122%;
}

.choose-box{
    padding: 1.69rem 1.25rem;
    border-radius: 1.25rem;
border: 1px solid rgba(0, 0, 0, 0.20);
background: #FFF;
width: 50%;

}
.choose-box h3,.choose-box p{
    display: block;
    word-wrap: break-word;


}
.choose-box h3{
    color: var(--gray-333333, #333);
font-family: Montserrat;
font-size: 1.375rem;
font-style: normal;
font-weight: 600;
line-height: 1.875rem; /* 136.364% */
text-align: left;

}

.choose-box p{
    color: var(--light-gray, #7F7F7F);
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.75rem; /* 175% */
text-align: left;
}
.main-why{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxright{
    display: flex;
    justify-content: end;
}